@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-3xl: 1800px;
  --breakpoint-4xl: 2000px;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
